/* CSS Document */
body,dd,dl,form,h1,h2,h3,h4,h5,h6,input,ol,p,pre,td,textarea,th,ul,select{margin:0;padding:0;}
li{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none}
a{cursor:pointer}
img{border:none; vertical-align:top;}
textarea{overflow:auto;resize:none;}
table{border-collapse:collapse;}
*{word-break:break-all;}
input,a,textarea{outline:none;}
.clear{zoom:1}
.clear:after{content:"";display:block;clear:both;}
.fl{float:left}
.fr{float:right}

/* 头部 */
body {
  font-family:         "黑体";
}

.header {
  position:           absolute;
  top:                90px;
  left:               100px;
  font-size:          30px;
  letter-spacing:     9px;

}
.header:hover{
  color:              #b3b3b3;
  cursor:             pointer;
}

/* 侧边栏 */
nav {
  position:           absolute;
  top:                150px;
  left:               100px;
  width:              205px;
  height:             780px;
  background-color:   #f7f7f7;
  font-size:          14px;
  line-height:        32px;
  letter-spacing:     5px;
}

.linavfirst:hover{
  cursor:             pointer;
  background-color:   #000000;
  color:              #FFFFFF;
	}

.linav:hover{
  cursor:             pointer;
  background-color:   #000000;
  color:              #FFFFFF;
  }

.linavfirst{
  text-indent:        10px;
  height:             30px;
  margin-top:         78px;
  margin-left:        10PX;
}

.linav {
  text-indent:        10px;
  border-left:        10px;
  height:             30px;
  margin-top:         16px;
  margin-left:        10px;
}

/*中间MOBILEdesign区域*/
section.table {
  display:            table;
  position:           absolute;
  top:                150px;
  left:               380px;
  width:              1440px;
  height:             780px;
  background-color:   #f7f7f7;
	}

div.tablerow1{
  position:           absolute;
  top:                60px;
  display:            table-row;
}

div.tablerow2{
  position:           absolute;
  top:                420px;
  display:            table-row;
}

div.tablecell{
  display:            table-cell;
  padding-left:       60px;
}
.tablecell p{
  position:           absolute;
  top:                260px;
  height:             40px;
  width:              400px;
  background-image:   url(40px.png);
  color:              #FFFFFF;
  text-indent:        10px;
  font-size:          18px;
  line-height:        28px;
  font-style:         bold;
}
time {
  font-size:          14px;
}
